<section class="section-description">
    <div class="container">
        <ul class="description-container-style">
            <li class="description-icons">
                <div class="icons-style">
                    <svg class="icons-items" width="60" height="60">
                        <use href="./images/icons/icons-sprite.svg#icon-female"></use>
                    </svg>
                </div>
                <h3 class="description-title">
                    Адаптированная авторская программа ВНО
                </h3>
            </li>
            <li class="description-icons">
                <div class="icons-style">
                    <svg class="" width="60" height="60">
                        <use href="./images/icons/icons-sprite.svg#icon-mobile"></use>
                    </svg>
                </div>
                <h3 class="description-title">
                    Современные методики обучения
                </h3>
            </li>
            <li class="description-icons">
                <div class="icons-style">
                    <svg class="" width="60" height="60">
                        <use href="./images/icons/icons-sprite.svg#icon-insurance"></use>
                    </svg>
                </div>
                <h3 class="description-title">
                    Финансовая гарантия результата
                </h3>
            </li>
        </ul>
    </div>
</section>