<section class="section">
    <div class="container">
        <ul class="">
            <li class="">
                <div class="">
                    <svg class="icons-items" width="60" height="60">
                        <use href=""></use>
                    </svg>
                </div>
                <h3 class="">
                    Адаптированная авторская
                    программа ВНО
                </h3>
            </li>
            <li class="">
                <div class="">
                    <svg class="" width="60" height="60">
                        <use href=""></use>
                    </svg>
                </div>
                <h3 class="">
                    Современные
                    методики обучения
                </h3>
            </li>
            <li class="">
                <div class="">
                    <svg class="" width="60" height="60">
                        <use href=""></use>
                    </svg>
                </div>
                <h3 class="">
                    Финансовая гарантия
                    результата
                </h3>
            </li>
        </ul>
    </div>
</section>