<section class="feedback__section">
    <h2 class="feedback__section-title">
        Отзывы выпускников
    </h2>
    <div class="feedback__conteiner">
        <button type="button">
            <svg>
                <use href="../images/icons/icons-sprite.svg#icon-strelkavlevo"></use>
            </svg>
        </button>
        <div class="slide__conteiner">
            <h3 class="person__title">Тоня Кучеровская</h3>

            <p>
                Выпуск 2015-го года, Національний університет біоресурсів
                і природокористування України
            </p>

            <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж
                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
                я можу похизуватись тим, що я студен ... Читать дальше
            </p>
        </div>
        <button type="button">
            <svg>
                <use href="../images/icons/icons-sprite.svg#icon-strelkavpravo"></use>
            </svg>
        </button>
        <div class="small-icon__conteiner"></div>
    </div>
</section>