<section class="we-guarantee__section">
    <div class="we-guarantee__conteiner">
        <h2 class="section__title">
            Мы гарантируем
        </h2>
        <ul class="we-guarantee__list">
            <li class="we-guarantee__list-item">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги.*</li>
            <li class="we-guarantee__list-item">Ты научишься писать сочинения минимум на 10 баллов из 14. В то время как 20% учеников получили за сочинение 0.</li>
            <li class="we-guarantee__list-item">Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.</li>
            <li class="we-guarantee__list-item">Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.</li>
        </ul>
        <h2 class="section__title">
            Отзывы выпускников
        </h2>
    </div>
    <div class="feedback__conteiner"></div>
</section>