.section-description {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-bottom: 50px;
}
.description-icons {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.icons-style {
  padding: 10px 12px;
  border: 2px solid #ff6b09;
  margin-right: 10px;
}
.description-title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 480px) {
  .description-container-style {
    display: flex;
  }
}
